body {
    width: 380;
    height: 60;
}

h1 {
    font-family: 'MSPゴシック';
    font-size: 20px;
}

.upper{
    position: absolute;
    width: 380;
    height: 30;
    left: 20px;
}

.under{
    position: absolute;
    width: 380;
    height: 30;
    left:  20px;                /* 左からの位置指定 */
    top: 45px;                  /* 上からの位置指定 */
}

.to1-button{
    position: absolute;
    left:  10px;                /* 左からの位置指定 */
    top: 55px;   
    width: 280px; /* 横幅 */
    height: 40px; /* 縦幅 */
    appearance: none;
    border: 0;
    border-radius: 40px;
    background: #56f3b4;
    color: #fff;
    font-size: 13px; /* 例: フォントサイズを小さく設定 */
    /*padding: 15px 8px; /* 例: パディングを減らしてボタンのサイズを小さくする */
    font-weight: bold;
}

.end-button{
    position: absolute;
    left:  300px;                /* 左からの位置指定 */
    top: 55px;   
    width: 110px; /* 横幅 */
    height: 40px; /* 縦幅 */
    appearance: none;
    border: 1;
    border-radius: 40px;
    background: #ffffff;
    color: #000000;
    font-size: 13px; /* 例: フォントサイズを小さく設定 */
    /*padding: 15px 8px; /* 例: パディングを減らしてボタンのサイズを小さくする */
    font-weight: bold;
}